In [141]:
#import libraries
import mysql.connector
import pandas as pd
import numpy as np

In [147]:
#sql connection
mydb=mysql.connector.connect(host="localhost", user="root", password="", database="data_spark")
my_cursor = mydb.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS data_spark")
print("database created successfully")

database created successfully

In [149]:
#function to reconnect in case of any connection issue
def reconnect():
    global mydb, my_cursor
    mydb = mysql.connector.connect(
        host = "localhost",
        user = "root",
        password = "",
        database = "data_spark"
    )
    my_cursor = mydb.cursor()

In [169]:
df_customers = pd.read_csv(r"E:/UDHAYA/Project2/new_csv/Customers.csv", encoding='latin1') 
df_exchange_rates = pd.read_csv(r"E:/UDHAYA/Project2/new_csv/Exchange_Rates.csv")
df_products = pd.read_csv(r"E:/UDHAYA/Project2/new_csv/Products.csv")
df_stores = pd.read_csv(r"E:/UDHAYA/Project2/new_csv/Stores.csv")
df_sales = pd.read_csv(r"E:/UDHAYA/Project2/new_csv/Sales.csv")

In [153]:
#customer table creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS customers(
                  CustomerKey INT(64),
                  Gender VARCHAR(255),
                  Name VARCHAR(255),
                  City VARCHAR(255),
                  State VARCHAR(255),
                  Country VARCHAR(255),
                  Continent VARCHAR(255),
                  Birthday DATE
                  )''')
print("Table Created successfully")

Table Created successfully

In [155]:
# insert values into customer table
insert_query='''INSERT INTO customers(
                  CustomerKey,
                  Gender,
                  Name,
                  City,
                  State,
                  Country,
                  Continent,
                  Birthday)
                  VALUES(%s,%s,%s,%s,%s,%s,%s,%s)'''
data=df_customers.values.tolist()
batch_size = 1000  # Adjust this value as needed

for i in range(0, len(data), batch_size):
    batch_data = data[i:i + batch_size]
    try:
        # Performing batch insert with executemany()
        my_cursor.executemany(insert_query, batch_data)
        mydb.commit()
    except mysql.connector.Error as err:
        if err.errno == mysql.connector.errorcode.CR_SERVER_LOST or err.errno == mysql.connector.errorcode.CR_SERVER_GONE_ERROR:
            reconnect()
            my_cursor.executemany(insert_query, batch_data)
            mydb.commit()
print("Inserted successfully")

Inserted successfully

In [159]:
# exchange_rates table creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS exchange_rates(
                  Date DATE,
                  Currency_Code VARCHAR(255),
                  Exchange FLOAT
                  )''')
print("Table Created successfully")

# insert values into exchange_rates table
insert_query ='''INSERT INTO exchange_rates(
                  Date,
                  Currency_Code,
                  Exchange)
                  VALUES (%s, %s, %s)'''
data=df_exchange_rates.values.tolist()
batch_size = 1000  # Adjust this value as needed

for i in range(0, len(data), batch_size):
    batch_data = data[i:i + batch_size]
    try:
        # Performing batch insert with executemany()
        my_cursor.executemany(insert_query, batch_data)
        mydb.commit()
    except mysql.connector.Error as err:
        if err.errno == mysql.connector.errorcode.CR_SERVER_LOST or err.errno == mysql.connector.errorcode.CR_SERVER_GONE_ERROR:
            reconnect()
            my_cursor.executemany(insert_query, batch_data)
            mydb.commit()
print("Inserted successfully")

Table Created successfully
Inserted successfully

In [161]:
# create Products table 
my_cursor.execute('''CREATE TABLE IF NOT EXISTS products(
                  ProductKey INT(64),
                  Product_Name VARCHAR(255),
                  Brand VARCHAR(255),
                  Color VARCHAR(255),
                  Unit_Cost_USD FLOAT,
                  Unit_Price_USD FLOAT,
                  Subcategory VARCHAR(255),
                  CategoryKey INT(64),
                  Category VARCHAR(255)
                  )''')
print("Table Created successfully")

#insert values into Products table
insert_query ='''INSERT INTO products(
                  ProductKey,
                  Product_Name,
                  Brand,
                  Color,
                  Unit_Cost_USD,
                  Unit_Price_USD,
                  Subcategory,
                  CategoryKey,
                  Category)
                  VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s)'''
data=df_products.values.tolist()
batch_size = 1000  # Adjust this value as needed

for i in range(0, len(data), batch_size):
    batch_data = data[i:i + batch_size]
    try:
        # Performing batch insert with executemany()
        my_cursor.executemany(insert_query, batch_data)
        mydb.commit()
    except mysql.connector.Error as err:
        if err.errno == mysql.connector.errorcode.CR_SERVER_LOST or err.errno == mysql.connector.errorcode.CR_SERVER_GONE_ERROR:
            reconnect()
            my_cursor.executemany(insert_query, batch_data)
            mydb.commit()
print("Inserted successfully")

Table Created successfully
Inserted successfully

In [165]:
#sales table creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS sales(
                  Order_Number INT(64),
                  Line_Item INT(64),
                  Order_Date DATE,
                  Delivery_Date DATE,
                  CustomerKey INT(64),
                  StoreKey INT(64),
                  ProductKey INT(64),
                  Quantity INT(64),
                  Currency_Code VARCHAR(255)
                  )''')
print("Table Created successfully")

#insert values into sales table
insert_query ='''INSERT INTO sales(
                  Order_Number,
                  Line_Item,
                  Order_Date,
                  Delivery_Date,
                  CustomerKey,
                  StoreKey,
                  ProductKey,
                  Quantity,
                  Currency_Code)
                  VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s)'''
data=df_sales.values.tolist()
batch_size = 1000  # Adjust this value as needed

for i in range(0, len(data), batch_size):
    batch_data = data[i:i + batch_size]
    try:
        # Performing batch insert with executemany()
        my_cursor.executemany(insert_query, batch_data)
        mydb.commit()
    except mysql.connector.Error as err:
        if err.errno == mysql.connector.errorcode.CR_SERVER_LOST or err.errno == mysql.connector.errorcode.CR_SERVER_GONE_ERROR:
            reconnect()
            my_cursor.executemany(insert_query, batch_data)
            mydb.commit()
print("Inserted successfully")

Table Created successfully
Inserted successfully

In [175]:
#store table creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS stores(
                  StoreKey INT,
                  Country VARCHAR(255),
                  State VARCHAR(255),
                  Square_Meters FLOAT,
                  Open_Date DATE
                  )''')
print("Table Created successfully")

df_stores.fillna(0)  
##insert values into Store table
insert_query ='''INSERT INTO stores(
                  StoreKey,
                  Country,
                  State,
                  Square_Meters,
                  Open_Date)
                  VALUES (%s, %s, %s, %s, %s)'''
data=df_stores.values.tolist()
my_cursor.executemany(insert_query,data)
print("Inserted successfully")

Table Created successfully
Inserted successfully